@use "../../../base/variables";
@use "../../../base/mixins";

.wrapper {
   color: variables.$text-color;
   width: 100%;
   height: 100vh;
   z-index: 0;
   position: relative;
   border-right: variables.$border-style;

   .list {
      height: 100%;
      width: 100%;
      list-style: none;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      @include mixins.flex-column;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   .scroll-buttons {
      position: absolute;
      right: 12px;
      top: 50%;
      translate: 0 -50%;
      @include mixins.flex-column;
      gap: 12px;

      button {
         border-radius: 999px;
         width: 40px;
         height: 40px;
         background-color: rgba($color: #848484, $alpha: 0.5);
         @include mixins.flex-center;

         &:hover:not(:disabled) {
            cursor: pointer;
            background-color: rgba($color: #373737, $alpha: 0.6);
         }

         &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
         }

         .icon {
            color: variables.$text-color;
            width: 20px;
            height: 20px;
         }
      }

      .up-btn {
         rotate: 90deg;
      }

      .down-btn {
         rotate: -90deg;
      }
   }

   .back-btn {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 16px;
      margin-top: 16px;
      border-radius: 999px;
      user-select: none;
      cursor: pointer;
      background-color: rgba($color: #fff, $alpha: 0.1);

      &:hover {
         opacity: 0.5;
         transition: opacity 0.2s ease;
      }

      .icon {
         @include mixins.flex-center;

         svg {
            display: block;
            width: 24px;
            height: 24px;
            margin: 8px;
            color: variables.$text-color;
         }
      }
   }

   .search-bar {
      margin-top: 16px;
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50% 0;
      width: 360px;
   }
}
