@use "../base/variables";
@use "../base/mixins";

.list {
   overscroll-behavior: none;
   position: absolute;
   top: 100%;
   right: 0;
   z-index: 100;
   background-color: variables.$dropdown-bg-color;
   border-radius: 8px;
   padding-top: 8px;
   max-height: min(100vh - 200px, 700px);
   overflow-y: auto;

   &::-webkit-scrollbar {
      appearance: none;
      background-color: transparent;
      width: 8px;
   }

   &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: variables.$dropdown-list-thumb-color;
   }

   &.fadeout {
      animation: fadeOut 0.2s ease;
   }
}

@keyframes fadeOut {
   from {
      opacity: 0.5;
   }

   50% {
      opacity: 0.75;
   }

   to {
      opacity: 1;
   }
}