@use "../base/variables";
@use "../base/mixins";


li {
   @mixin wrapperStyle {
      @include mixins.flex-row;
      align-items: center;
      gap: 12px;
      width: 100%;
   }

   @include wrapperStyle;
   padding: 10px variables.$dropdown-item-padding-x;
   cursor: pointer;

   a {
      @include wrapperStyle;
      text-decoration: none;
   }

   &:not(.header):hover {
      background-color: variables.$dropdown-item-bg-color-hover;
   }

   .icon {
      font-size: 0.6rem;
      color: variables.$dropdown-item-icon-color;
      user-select: none;

      &.actions {
         font-size: 1.6rem;
         color: white;
      }
   }

   .text {
      font-size: 1.6rem;
      font-weight: 600;
      color: variables.$dropdown-item-text-color;
      line-height: 24px;
      font-style: normal;
      user-select: none;
   }
}

li.user-suggest {
   .avt {
      $rec-size: 40px;
      // display: block;
      width: $rec-size;
      height: $rec-size;
      border-radius: 50%;
      object-fit: cover;
   }

   .user-info {
      p {
         color: variables.$dropdown-item-cap-color;
      }
   }
}

li.header {
   position: relative;
   justify-content: center;
   cursor: default;

   .icon {
      position: absolute;
      top: 50%;
      left: variables.$dropdown-item-padding-x;
      translate: 0 -50%;
      padding: 4px;
      cursor: pointer;
   }

   .text {
      text-align: center;
   }

   & ~ li {
      .text {
         font-size: 1.4rem;
      }
   }
}
