@use "../base/variables";
@use "../base/mixins";



.header {
   border-bottom: variables.$border-style;
   padding-left: 24px;
   padding-right: 32px;
   height: variables.$header-h;
   

   .inner {
      height: 100%;
      width: 100%;
      justify-content: space-between;   
      @include mixins.flex-row;
      gap: 20px;

      .logo {
         display: flex;
         align-items: center;
         min-width: 300px;
         translate: 0 6px;
      }

      .user-actions {
         @include mixins.flex-row;
         align-items: center;

         button, .actions-icon {
            cursor: pointer;
         }

         button {
            background-color: variables.$primary-color;
            color: variables.$actions-btn-color;
            font-weight: variables.$actions-btn-fweight;
            padding: 8px 24px;
            font-size: 1.6rem;
            min-height: 36px;
            min-width: 100px;
            border-radius: 4px;

            &:hover {
               opacity: 0.9;
            }
         } 

         i {
            position: relative;

            .actions-icon {
               color: #fff;
               font-size: 2rem;
               margin: 0 12px;
               padding: 12px;
            }
         }     
      }
   }
}