@use "../../../../base/variables";
@use "../../../../base/mixins";

.wrapper {
   width: 100%;
   @include mixins.flex-center;

   .avt-frame {
      width: 100%;
      height: 100%;
      overflow: visible;
      mask-image: radial-gradient(circle, black 42%, rgba(0, 0, 0, 0.5) 42%);
      position: relative;
      user-select: none;


      .img-wrapper {
         position: absolute;
         height: 100%;
         width: 100%;
         @include mixins.flex-center;

         .img {
            min-height: 360px;
            min-width: 360px;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
         }
      }
   }
}
