@use "../../assets/styles/base/variables";
@use "../../assets/styles/base/mixins";

.wrapper {
   @include mixins.flex-row;
   color: white;


   .video-section {
      flex-basis: 600px;
      flex-grow: 1;
      flex-shrink: 0;
   }

   .detail-section {
      flex-basis: 544px;
   }
}